$mainColor: #0073A6;
$backGrey: #EEEEEE;
$backLight: #FAFAFA;
$contentWidth: 92%;
$size-1: 14px;
$size-2: 16px;
$size-3: 18px;
$size-4: 20px;
$flex: flex;
$grid: grid;
$justify-between: space-between;
$center: center;
$none: none;
$grid: grid;